<!DOCTYPE html>
{% extends "core/base.html" %}

{%  block title %}Список профилей{% endblock %}

{% block content %}
    {% for profile in object_list %}
        <div>
{#            <a href="{% url "posts:oneprofile" pk=profile.id %}">{{ profile.title }}</a>#}
        <b><br><a href="{% url 'posts:one_profile' pk=profile.id %}"> {{ profile.title }}</a></b></br>
{#если раскомментировать следующую строчку и закомментировать предыдущую - будет работать#}
            {#        <b><br>{{ profile.title }}</b></br>#}
        </div>
        <div>{{ profile.description }}</div>

    {% endfor %}
{% endblock %}
rver