{% extends "core/base.html" %}

{% block title %}<h1>{{ object.title }}</h1>{% endblock %}
{% block content %}
    <b>{{ object.description }}</b>
    {% if object.publication_set %}
        <div>
        <h1>Публикации</h1>
            {% for publication in object.publication_set.all %}
                <i>. {{  publication.title }}</i>
            {% endfor %}
        </div>

    {% endif %}
    <h2><a href="{% url "posts:all_profiles" %}">Все профили</a></h2>
{#    <h2><a href="{{ all_profiles_url }}">Все профили</a> </h2>#}
{% endblock %}