{% extends "core/base.html" %}

{% block title %}Публикация{% endblock %}

{% block content %}
    <h1>{{ publication.title }}</h1>
    <h4>Тип: {% block publication_type %}{% endblock %}</h4>
    <h4>Автор: {{ publication.author.full_name }}</h4>
    <h4>Опубликовано: {{ publication.creation_date|date:'Y-m-d H:i' }}</h4>

    {% block publication_content %}
{#        <div>#}
{#            {{ publication.content }}#}
{#        </div>#}
    {% endblock %}

    {% if user.username %}
        <h5>{% block add_comment %}{% endblock %}</h5>
    {% endif %}

    <div class="row comments_list_autoupdate" date-url="{% url '' %}"/>


{% endblock %}