<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>My first django site</title>
</head>
<body>
<div>{% block login_info %}
    {% if user.username %}
        Вы вошли как {{ user.username }}, <a href="{% url 'core:logout' %}">выйти</a>
    {% else %}
        Вы не вошли, <a href="{% url 'core:login' %}">войти</a>
    {% endif %}
{% endblock %}</div>

<h1>{% block title %}{% endblock %}</h1>
{% block content %}{% endblock %}


</body>
<footer>
    {% block footer_content %}
        <div><a href="{% url "core:main_page" %}">Вернуться на главную</a></div>
    {% endblock %}
</footer>
</html>