{% extends "publications/publication_view.html" %}

{% block publication_type %}новость{% endblock %}

{% block publication_content %}
    <p>{{ publication.brief_description }}</p>
{#    <p>{{ publication. }}</p>#}
{% endblock %}

{% block add_comment %}

    <p class="text-right">
    <a class="btn btn-primary" href="{% url 'comment:create' publication_type='news' publication_id=publication.id %}">
        Добавить комментарий
    </a></p>

    {% block comments_list %}
        <div class="row autoupdatable" data-url="{% url 'comment:news_comments' news_id=publication.id %}"/>
    {% endblock %}
{% endblock %}