{% extends "core/base.html" %}

{% block title %}User details{% endblock %}
{% block content %}
    <h1>{{ user_profile.first_name }}, {{ user_profile.last_name }} ({{ user_profile.username }})</h1>
    <h4>{{ user_profile.date_joined|date:'Y-m-d H:i' }}</h4>
    <div>
        {#        {% include "core/list.html" with values_list=last_publications list_header_string='Последние публикации' count_string='всего' list_empty_string='Публикаций нет' url_ref='core:one_user' %}#}
        {% if last_publications %}
            <h1>Последние публикации:</h1>
            <ol>
{#                {% for publication_meta_info in last_publications %}#}
{#                    {% include "publications/tools/publication_view_href_gen.html" with object_meta_info=publication_meta_info achievement=achievement_content_type news=news_content_type %}#}
{#                {% endfor %}#}
            </ol>
        {% else %}
            <h1>Публикаций нет</h1>
        {% endif %}

        <div><a href="{% url 'publications:all' %}">Все публикации</a></div>
    </div>

    <h2><a href="{% url 'core:all_users' %}">Все пользователи</a></h2>
{% endblock %}\